@charset "utf-8";
/* CSS Document */

body, html {
    height: 100%;
	margin: 0;
	scroll-behavior: smooth;
	font-family: Arial, "sans-serif";
	}

#topo {
	width: 100%;
	height: auto;
	min-height: 500px;
	background: url("../imagens/a-estrela-sobe.jpg") fixed no-repeat center;
    	background-size: cover;
	}

	#banner {
		height: 500px;
		display: flex;
		justify-content: center;
		align-items:center;
		}

		#nome {
			padding-top: 16%;
			font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
			font-weight:100;
			font-style: normal;
			font-size: 2em;
			/*-webkit-text-stroke-width: 4px;
			-webkit-text-stroke-color: #000;
			paint-order: stroke fill;*/
			text-align: center;
			color: #EDEDED;
			}

			#nome h1 {text-shadow: 5px 5px 5px black;}

			#assinatura{
				width:100%;
				max-width:800px;
			}

#principal {
	width: 100%;
	height: auto;
	padding: 8px;
	box-sizing: border-box;
	min-height: 400px;
	background-color: #EDEDED;
}

.titulo {
	font-family: "Bree Serif", serif;
	font-weight: normal;
	margin: 0;
	padding-top: 50px;
	font-size: 2em;
	text-align: center;
	color: #730E16;
}

.cols{
	display: flex;
	justify-content: center;
	align-items: center;
}

.conteudo{
		border-radius: 20px;
		padding: 10px;
		box-sizing: border-box;
		background-color: #F2695C;	
}

	#sobre {}

		#sobre img {
			width:40%;
			margin-right: 24px;
			border-radius: 10px;
		}

	#curriculo {}
	#servicos {}
	#produtos {}
	#portifolio {}
	#galeria {}
	#contato{}

#rodape {
	width: 100%;
	height: auto;
	min-height: 400px;
	padding: 20px;
	box-sizing: border-box;
	background-color:#1F0F26;
}
