@charset "utf-8";
/* CSS Document */

body, html, p {
    height: 100%;
	margin: 0;
	scroll-behavior: smooth;
	font-family: Georgia, "serif"
}

#topo {
	width: 100%;
	height: auto;
	min-height: 500px;
	background: url("../imagens/a-estrela-sobe.jpg") fixed no-repeat center;
    background-size: cover;
}

	#banner {
		height: 500px;
		display: flex;
		justify-content: center;
		align-items:flex-end;
	}

		#nome {
			padding-top: 16%;
			font-family: "georgia", "serif";
			font-weight: 100;
			font-style: normal;
			font-size: 2em;
			text-shadow: 2px 2px 4px black;
			text-align: center;
			color: #EDEDED;	
		}

#principal {
	width: 100%;
	height: auto;
	padding: 8px;
	box-sizing: border-box;
	min-height: 400px;
	background-color: #EDEDED;
}

.conteudo{
		width: 100%;
		border-radius: 20px;
		padding: 50px 20px;
		box-sizing: border-box;
		background-color:#F2695C;	
}

.titulo {
	font-family: "Bree Serif", serif;
	font-weight: normal;
	margin: 0;
	padding: 36px;
	font-size: 3em;
	text-align: center;
	column-span: all;
	color: #730E16;
}

.cols{
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	columns:200px 2;
	column-gap:20px;
	align-items: center;
}

.texto{
	margin: 0;
	font-size: 1.5em;
	line-height: 1.6em;
	color:#1F0F26;
}

	#sobre {}

		.cols img {
			width:100%;
			max-width: 350px;
			margin: auto;
			padding-right: 20px;
			padding-bottom: 20px;
			border-radius: 50%;
		}

	#curriculo {}
	#servicos {}
	#produtos {}
	#portifolio {}
	#galeria {}
	#contato{}

#rodape {
	width: 100%;
	height: auto;
	min-height: 400px;
	padding: 20px;
	box-sizing: border-box;
	background-color:#1F0F26;
}