@charset "utf-8";
/* CSS Document */

.formulario {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
	}

.preenche {
	width: 100%;
	max-width: 1600px;
	height: 36px;
	}

input {
	border: 0;
	border-radius: 8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-color: #EDEDED;
	}

input::placeholder {
	text-align: center;
	color: #F2CEA2;
	}

textarea {
	width: 100%;
	height: 200px;
	border: 0;
	border-radius: 8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-color: #EDEDED;
	}

button /*input*/{
	width:100%;
	max-width: 300px;
	height: auto;
	margin: auto;
	border: 0;
	border-radius: 8px;
	font-size:50px;
	text-align: center;
	color:#154360;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-color:darkred;
	}