@charset "utf-8";
/* CSS Document */

#menu {
	margin-left: 10px;
	border-radius: 8px 0  0 8px;
	padding: 4px;
	box-sizing: border-box;
	position: fixed;
	top: 8px;
	right: 0;
	overflow: hidden;
	background-color:#EDEDED;
	}

	#inicio {
		width:20px;
		height:100%;
		margin-top: 2px;
		padding: 0.5%;
		box-sizing: border-box;
		}

	#inicio svg{fill:#730E16;}

	#menu a {
		float: left;
		text-align: center;
		padding: 8px;
		text-decoration: none;
		line-height: 25px;
		border-radius: 4px;
		font-family: "Bree Serif", serif;
		font-style: normal;
		font-size: 1.1em;
		color: #730E16;
		}

#menu a:hover {
	background-color: #F2695C;
	color: white;
	}

/*------------Início Menu ÍCONES--------------*/
#menu-icones ul{
	padding:0;
	list-style: none;
	display: inline-block;
	}

#menu-icones ul li{
	padding: 5px 10px;
	display:inline-block;}

#menu-icones img{
	width:25px;
	border-radius: 50%;
	border: 4px solid #F2CEA2;
	padding: 2px;
	}

#menu-icones img:hover{border: 4px solid #F2695C;}








